<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pajato.shelib">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
        <activity
            android:name=".WebViewActivity"
            android:theme="@style/Theme.AppCompat">
        </activity>
    </application>
</manifest>
